<template>
    <div id="app">
        <b-jumbotron bg-variant="muted" class="m-0 p-4">
            <h1>Welcome to MeteoPi interface</h1>
        </b-jumbotron>

        <b-navbar variant="info" class="mb-0 p-0">
            <router-link to="/dashboard" class="btn btn-info btn-lg w-25">Dashboard</router-link>
            <router-link to="/history" class="btn btn-info btn-lg w-25">History</router-link>
            <router-link to="/compare" class="btn btn-info btn-lg w-25">Compare</router-link>
            <router-link to="/map" class="btn btn-info btn-lg w-25">Map</router-link>
        </b-navbar>

        <router-view/>
        
    </div>
</template>

<script>
    import Dashboard from './views/Dashboard.vue'
    import History from './views/History.vue'
    import Compare from './views/Compare.vue'
    import Map from './views/Map.vue'
    import 'bootstrap/dist/css/bootstrap.css'
    import 'bootstrap-vue/dist/bootstrap-vue.css'

    export default {
        name: 'home'
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        position: static;
        margin-bottom: 5em;
    }
    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }
</style>
