<template>
    <div class="lineChart">
        <chart :chart-data="sondeData" :display-format="displayFormat"/>
    </div>
</template>

<script>
    import Chart from './Chart.vue';
    import store from '../store.js';

    export default {
        store: store,
        props: {
                value: String,
                duration: String
        },
        components: {
            Chart
        },
        methods: {
            getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            },
            getDuration() {
                let tab = {
                    'day': 1,
                    'month': 31,
                    'year': 365
                };
                return tab[this.duration];
            },
            getDisplayFormat() {
                let format = {
                    day: 'hA',
                    month: 'MMM D',
                    year:'MMM YYYY'
                };
                return format[this.duration];
            }
        },

        computed: {
            sondeData() {
                let n = store.state.currentSondeNameHistory;
                let raw_data = store.state.sondes.filter(sonde => sonde.name === n)[0].data;

                let datas = {};
                datas[this.value] = {
                    datasets: [
                        {
                            fill: false,
                            label: this.value,
                            borderColor: this.getRandomColor(),
                            data: [],
                            pointRadius: 0,
                        }
                    ]
                };
                let dates = [];
                for (let i = 0; i < raw_data.length; i+= this.getDuration()) {
                    let measures = raw_data[i].measurements;
                    dates.push(measures.date);
                    datas[this.value].datasets[0].data.push(measures[this.value]);
                }
                datas[this.value].labels = dates;

                return datas[this.value];
            },
            displayFormat() {
                return this.getDisplayFormat();
            }
        },


    }
</script>
