<template>
    <!-- <p>{{fullname}}</p> -->
    <!-- <b-col class="m-2 p-2 border bg-light col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"> -->
    <b-col cols="12" xs="6" sm="6" md="4" lg="3" xl="2" class="p-2" v-if="fullname !== 'Rain'">
        <div class="border bg-light p-3">
            <p><strong>{{sondeName}}</strong> {{fullname}}</p>
            <span><strong>{{measure}}</strong></span> {{unit}}
        </div>
    </b-col>

    <b-col cols="12" xl="8" class="p-2" v-else>
        <div class="border bg-light p-3">
            <p>Last <strong>{{sondeName}}</strong> {{fullname}}</p>
            <span><strong>{{lastRain}}</strong></span>
        </div>
    </b-col>

</template>

<script>

    import store from '../store.js'

    export default {
        name: "Measure",
        props: {
          value: String,
          sondeName: String
        },
        computed: {
            measure () {
                let name = this.sondeName !== undefined ? this.sondeName : store.state.currentSondeNameDashboard;
                let sonde = store.state.sondes.filter(sonde => sonde.name === name)[0];
                if (this.unit !== "mm")
                    return Math.round(sonde.measurements[this.value]*100)/100;
                else
                    return sonde.measurements[this.value];

            },
            unit () {
                return store.state.measures[this.value].unit;
            },
            fullname () {
                return store.state.measures[this.value].fullname;
            },
            lastRain() {
                let rain = "";
                if (this.unit === "mm") {
                    let date = new Date(this.measure);
                    let currentDate = new Date();
                    let diff = Math.abs(currentDate - date);
                    let days = Math.floor(diff / (1000 * 3600 * 24));
                    let hours = Math.floor(diff / (1000 * 3600)) - days*24;
                    let mins = Math.floor(diff / (1000 * 60)) - days*24*60 - hours*60;
                    let secs = Math.floor(diff / 1000) - days*24*60*60 - hours*60*60 - mins*60;
                    if (diff > 0 && (days > 0 || hours > 0 || mins > 0 || secs > 0)){
                        if (days == 1)
                            rain = rain + days + ' day';
                        else if (days > 1)
                            rain = rain + days + ' days';
                        if (hours > 0) {
                            if (days > 0)
                                rain = rain + ', '
                            if (hours == 1)
                                rain = rain + hours + ' hour';
                            else if (hours > 1)
                                rain = rain + hours + ' hours';
                        }
                        if (mins > 0) {
                            if (hours > 0)
                                rain = rain + ', '
                            if (mins == 1)
                                rain =  rain + mins + ' minute'; 
                            if (mins > 1)
                                rain =  rain + mins + ' minutes'; 
                        }
                        if (secs > 0) {
                            if (mins > 0)
                                rain = rain + ', '
                            if (secs == 1)
                                rain =  rain + secs + ' seconde'; 
                            if (secs > 1)
                                rain =  rain + secs + ' secondes'; 
                        }
                        rain = rain + " ago"
                    }
                    else
                        rain = "Now";
                }
                else {
                    rain = -1;
                }
                return rain;
            }

        }
    }
</script>

<style scoped>
    span{
        font-size: 1.7em;
    }
</style>