<template>
    <div id="compare">
        <b-row class="bg-info m-0 mb-5 p-2">
            <b-col>
                <h1 class="text-light">Compare</h1>
            </b-col>
        </b-row>

        <b-row class="mb-5">
            <b-col class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <b-row><strong style="font-size: 1.35em;" class="m-3">Pick a time:</strong></b-row>
                <b-row>
                   <b-form-radio-group v-model="isInstant" class="mx-auto">
                        <b-form-radio :value=true>Instant</b-form-radio>
                        <b-form-radio :value=false>Selected period</b-form-radio>
                    </b-form-radio-group>
                </b-row>
                <b-row style="border-width: 5px" class="m-2 border border-info border-lg rounded p-3 bg-light" v-if=!isInstant>
                    <b-col>
                        <p>Start date</p>
                        <b-form-input type="date" :max="today" :value="today" @change="setStartDate"></b-form-input>
                    </b-col>
                    <b-col>
                        <p>End date</p>
                        <b-form-input type="date" :max="today" :value="today" @change="setEndDate"></b-form-input>
                    </b-col>
                    <b-button class="col-10 offset-1 mt-3" size="lg" @click="requestData(currentMeasure)" variant="info">Load</b-button>
                </b-row>
            </b-col>

            <b-col class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <b-row><strong style="font-size: 1.35em;" class="m-3">and a data type:</strong></b-row>
                <b-row>
                    <b-form-radio-group v-model="currentMeasure" class="center">
                        <b-form-radio v-for="(val, key) in measures" :value=key v-if="key !== 'location' && key !== 'rain'" @change="requestData">{{val.fullname}}</b-form-radio>
                        <b-form-radio v-for="(val, key) in measures" :value=key v-if="key === 'rain' && isInstant" @change="requestData">{{val.fullname}}</b-form-radio>
                    </b-form-radio-group>
                </b-row>
            </b-col>
        </b-row>

        <b-row id="instant" v-if=isInstant>
            <b-col class="col-10 offset-1">
                <b-row>
                    <measure :class="[currentMeasure !== 'rain' ? 'col-lg-4 col-xl-4' : 'col-lg-12 col-xl-12']" :value=this.currentMeasure :sondeName="'SONDE BMW'"></measure>
                    <measure :class="[currentMeasure !== 'rain' ? 'col-lg-4 col-xl-4' : 'col-lg-12 col-xl-12']" :value=this.currentMeasure :sondeName="'SONDE YSH'"></measure>
                    <measure :class="[currentMeasure !== 'rain' ? 'col-lg-4 col-xl-4' : 'col-lg-12 col-xl-12']" :value=this.currentMeasure :sondeName="'SONDE MCM'"></measure>
                </b-row>
            </b-col>
        </b-row>
        <b-row id="chart" v-if=!isInstant>
            <b-col class="col-8 offset-2">
                <chart :chart-data="chartData" style="width: 100%"/>
            </b-col>
        </b-row>
    </div>
</template>

<script>

    import store from '../store.js';
    import Measure from "../components/Measure.vue";
    import Chart from '../components/Chart.vue';

    export default {
        store: store,
        components: {
            Measure,
            Chart
        },
        data() {
            let _today = new Date();
            let _year = _today.getFullYear();
            let _month = ("0" + (_today.getMonth() + 1)).substr(-2);
            let _day = _today.getDate();
            let _hour = ("0" + _today.getHours()).substr(-2);
            let _minutes = ("0" + _today.getMinutes()).substr(-2);

            return {
                currentMeasure: "press",
                isInstant: true,
                today: _year + "-" + _month + "-" + _day + "T" + _hour + ":" + _minutes,
                startDate: _today,
                endDate: _today - 1000,
            }
        },
        computed: {
            measures() {
                return store.state.measures;
            },
            chartData(){

                let chart = {
                    labels: [],
                    datasets: []
                };

                for (let i in store.state.sondes) {

                    let sonde = store.state.sondes[i];

                    let label = sonde.name,
                        data = [];

                    for (let j = 0; j < sonde.data.length; j += this.getNumberPoints(sonde)) {
                        let val = sonde.data[j].measurements[this.currentMeasure];
                        let date = sonde.data[j].measurements.date;

                        data.push({x: date, y: val});
                        chart.labels.push(date);

                    }

                    chart.datasets.push({
                        fill: false,
                        borderColor: this.getRandomColor(),
                        pointRadius: 0,
                        label: label,
                        data: data});
                }

                chart.labels.sort();

                return chart;
            }
        },
        methods: {
            requestData (measure) {
                this.currentMeasure = measure;

                store.dispatch('requestCompare', {
                    data: this.currentMeasure,
                    isInstant: this.isInstant,
                    startDate: this.startDate,
                    endDate: this.endDate})
            },
            getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            },
            setInstant(bool) {
                this.isInstant = bool;
            },
            setStartDate(e) {
                this.startDate = new Date(String(e)).getTime()/1000;
            },
            setEndDate(e) {
                this.endDate = new Date(String(e)).getTime()/1000;
            },
            getNumberPoints (sonde) {
                return Math.max(1, parseInt(sonde.data.length/100));
            },
            getDisplayFormat() {
                let format = {day: 'hA', month: 'MMM D', year:'MMM YYYY'}
                return format[this.duration];
            },
        },
        mounted() {
            this.requestData(this.currentMeasure);
        }

    }
</script>

<style scoped>

</style>

