<template>
    <div id="dashboard">
        <b-row class="bg-info m-0 mb-4 p-2">
            <b-col>
                <h1 class="text-light">Dashboard</h1>
            </b-col>
        </b-row>
        <b-row class="mb-5">
            <b-col p-0>
                <strong style="font-size: 1.35em;">Pick a Raspberry Pi:</strong>
                <b-button-group size="lg" class="ml-2 mb-2">
                    <b-button @click="requestData('SONDE BMW')" variant="info">BMW</b-button>
                    <b-button @click="requestData('SONDE YSH')" variant="info">YSH</b-button>
                    <b-button @click="requestData('SONDE MCM')" variant="info">MCM</b-button>
                </b-button-group>
            </b-col>
        </b-row>

        <div>
            <h3>Last {{this.currentSondeName}} data:</h3>
        </div>
        <b-row m-0>
            <b-col cols="12" offset="0" sm="10" class="offset-sm-1">
                <b-row class="mx-auto">
                    <measure v-for="(val, key) in measures" :value="key" v-if="key !== 'location'"/>
                </b-row>
            </b-col>
        </b-row>

    </div>
</template>

<script>
    
    import store from '../store.js'
    import Measure from "../components/Measure.vue";
    import 'bootstrap/dist/css/bootstrap.css'
    import 'bootstrap-vue/dist/bootstrap-vue.css'

    export default {
        store: store,
        components: {
            Measure
        },
        computed: {
            currentSondeName () {
                return store.state.currentSondeNameDashboard;
            },
            measures () {
                return store.state.measures;
            }
        },
        methods: {
            requestData (sonde_name) {
                store.state.currentSondeNameDashboard = sonde_name;
                store.dispatch('requestDashboard', {sonde_name})
            }
        },
        mounted() {
            store.dispatch('requestDashboard', {sonde_name: this.currentSondeName});
        }

    }
</script>