<template>
    <div id="history">
        <b-row class="bg-info m-0 mb-4 p-2">
            <b-col>
                <h1 class="text-light">History</h1>
            </b-col>
        </b-row>
        <b-row>
            <b-col class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <b-row><strong style="font-size: 1.35em;" class="m-2">Pick a Raspberry Pi:</strong>
                    <b-form-select v-model="currentSondeName" @change="setSonde" class="bg-info custom-select-lg text-light mb-3">
                        <option value="SONDE BMW">BMW</option>
                        <option value="SONDE YSH">YSH</option>
                        <option value="SONDE MCM">MCM</option>
                    </b-form-select>
                </b-row>
            </b-col>

            <b-col class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <b-row><strong style="font-size: 1.35em;" class="m-2">and a period:</strong>
                    <b-form-select v-model="currentDuration" class="bg-info custom-select-lg text-light mb-5">
                        <option value="day" @click="setDuration('day')">day</option>
                        <option value="month" @click="setDuration('month')">month</option>
                        <option value="year" @click="setDuration('year')">year</option>
                    </b-form-select>
                </b-row>
            </b-col>
        </b-row>

        <b-row m-0>
            <b-col class="col-12 col-sm-10 offset-sm-1">
                <b-row>
                    <history-chart class="col-12 col-md-6 col-xl-4 p-3" v-for="(val, key) in measures" :value="key" :duration="currentDuration" v-if="key !== 'location' && key !== 'rain'"/>
                </b-row>
            </b-col>
        </b-row>

    </div>
</template>

<script>

    import store from '../store.js'
    import HistoryChart from "../components/HistoryChart";

    export default {
        name: "History",
        store: store,
        components: {
            HistoryChart
        },
        data() {
            return {
                currentSondeName: "SONDE BMW",
                currentDuration: "day",
            }
        },
        computed: {
            measures () {
                return store.state.measures;
            }
        },
        methods: {
            requestData () {
                store.state.currentSondeNameHistory = this.currentSondeName;
                store.dispatch('requestHistory', {sonde_name: this.currentSondeName, duration: this.currentDuration})
            },
            setSonde (e) {
                this.currentSondeName = e;
                this.requestData();
            },
            setDuration (duration) {
                this.currentDuration = duration;
                this.requestData();
            }
        },
        mounted() {
            store.dispatch('requestHistory', {sonde_name: this.currentSondeName, duration: this.currentDuration});
        }

    }
</script>

