<template>
    <div class="home">
        <h1>Coucou.</h1>
        <HelloWorld></HelloWorld>
    </div>
</template>

<script>
    // @ is an alias to /src
    import HelloWorld from '@/components/HelloWorld.vue'
    import Dashboard from './Dashboard.vue'
    import History from './History.vue'
    import Compare from './Compare.vue'
    import Map from './Map.vue'
    import 'bootstrap/dist/css/bootstrap.css'
    import 'bootstrap-vue/dist/bootstrap-vue.css'

    export default {
        name: 'home',
        components: {
            HelloWorld,
            Dashboard,
            History,
            Compare,
            Map
        }
    }
</script>
