<template>
    <div>
        <b-row class="bg-info m-0 mb-5 p-2">
            <b-col>
                <h1 class="text-light">Map</h1>
            </b-col>
        </b-row>

        <b-row>
            <b-col class="col-10 offset-1 p-0 border border-info rounded">
                <div id="mapid" style="height: 400px"></div>
            </b-col>
        </b-row>
    </div>
</template>

<script>

    import store from '../store.js'
    import 'mapbox-gl/dist/mapbox-gl.css';


    export default {
        store: store,
        components: {
        },
        data() {
            return {
                map: null,
                markersGroup: null,
                markers: null
            }
        },
        methods: {
            requestData () {
                store.dispatch('requestMap');
            },
            position() {
                let position = {};
                for(let i in store.state.sondes) {
                    let lng = store.state.sondes[i].location.lng;
                    let lat = store.state.sondes[i].location.lat;

                    if (lng === undefined || lat === undefined)  continue;

                    position[i] = {lat:null, lng: null, name: null};

                    position[i].lng = lng;
                    position[i].lat = lat;
                    position[i].name = store.state.sondes[i].name;
                }

                if (Object.entries(position).length === 0 && position.constructor === Object) return null;
                return position;
            },
            leaflet() {
                this.map = L.map('mapid').setView([51.505, -0.09], 3);
                L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}{r}.{ext}', {
                    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                    subdomains: 'abcd',
                    minZoom: 0,
                    maxZoom: 20,
                    ext: 'png'
                }).addTo(this.map);
                this.markersGroup = new L.LayerGroup().addTo(this.map);
            },
            createMarkers() {

                let position = this.position();
                if (position === null) {
                    setTimeout(this.createMarkers, 1000);
                    return 0;
                }

                let features = [];

                for (let i in position) {
                    features.push({
                        'type': 'Feature',
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [parseFloat(position[i].lng), parseFloat(position[i].lat)]
                        },
                        'properties': {
                            'name': position[i].name
                        }
                    })
                }

                let geojson = {
                    'type': 'FeatureCollection',
                    'features': features
                };

                if (this.markers !== null) this.markersGroup.removeLayer(this.markers);
                this.markers = new L.GeoJSON(geojson, {
                    onEachFeature: function (f, l) {
                        l.bindPopup(f.properties.name);
                    }
                });

                this.markersGroup.addLayer(this.markers);
                this.map.fitBounds(this.markers.getBounds(), {padding: [50, 50]});
            }

        },
        mounted() {
            this.requestData();
            this.leaflet();
            this.createMarkers();
        }

    }
</script>

<style scoped>
    #map {
        width: 100%;
        height: 500px;
    }
</style>
